<div class="container">
    <div class="wrapper">
        <img class="wrapper__img" src="assets/img/moto.svg" alt="moto">

    </div>
    <div class="form">
        <h1 class="form__title">Envíos en Bogotá y sus alrededores</h1>
        <div class="form__photos">
            <img class="form__icon" src="assets/img/shop.svg" alt="shop">

        </div>
        <p class="form__text">
            Recogemos tus productos en tu negocio y los llevamos a tus clientes en tiempo récord.
        </p>

        <form class="form-data">
            <label class="form__label" for="name">Usuario </label><br>
            <input class="form__input" type="text"><br>
            <label class="form__label" for="password">Contraseña </label><br>
            <input class="form__input" type="password" name="password" id="password"><br>
            <button class="form__button">Iniciar sesión</button>
        </form>
        <h3 class="form__support">No tienes cuenta? Solicita una en soporte@fly.co</h3>
    </div>
    <p class="form__text">
        Recogemos tus productos en tu negocio y los llevamos a tus clientes en tiempo récord.
    </p>

    <form class="form-data">
        <label for="name">Usuario </label><br />
        <input class="form__input" type="text" /><br />
        <label for="password">Contraseña </label><br />
        <input class="form__input" type="password" name="password" id="password" /><br />
    </form>
    <button (click)="handleLoginClick()" mat-raised-button color="primary">Iniciar sesión</button>
    <h3 class="form__input">No tienes cuenta? Solicita una en soporte@fly.co</h3>
</div>
</div>